/* Global Styles */
ul {
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

/* Header Navbar */
.site-header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 1em;
  margin: 6em auto;
  border: 2px red solid;
  width: 40%;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__item {
  margin: 0 2em;
}

/* Main Section */
.site-main {
  min-height: 100vh;
}

.resource-section__title {
  text-align: center;
}

.resource-list {
  margin: auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 1px solid black;
  padding: 0.5em;
  text-align: center;
}

th {
  background-color: #dddddd;
}

th:nth-child(2) {
  width: 30%;
}

th:nth-child(7) {
  width: 20%;
}

/* User Submit Option */
.resource-form {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 2em auto;
}

.resource-form label {
  margin-bottom: 0.5em;
}

.resource-form select,
.resource-form input[type="date"],
.resource-form textarea,
.resource-form input[type="number"] {
  margin-bottom: 1em;
}

/* // Resource Submission Display  */
input[type="number"], button[type="submit"] {
  border: none;
  text-align: center;
}

/* Footer */
.site-footer {
  padding: 10px;
  text-align: center;
}
