/* Global Styles */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

:root {
  font-family: "Open Sans", sans-serif;
  color: #486169;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header Navbar */
.site-header {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  margin: 6em auto;
  width: 40%;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__item a{
  margin: 0 2em;
  color: #486169;
  font-weight: 600;
  
}

/* Top Navbar Section */
.resource-list.header {
  color: #486169;
  font-weight: 600;
}

.resource-section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1em;
}


/* Top Navbar Section for Table */
.resource-list thead tr {
  background-color: #d9f2fe;
  color: #ffffff;
}

.resource-list {
  margin: auto;
  text-align: center;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

table {
  border-collapse: collapse;
  width: 80%;
  box-shadow: 4px 4px 15px #bebebe, -4px -4px 15px #ffffff;
}

th,
td {
  border: 1px solid black;
  padding: 0.5em;
  text-align: center;
}

tr.resource-row:nth-of-type(even) {
  background-color: #ecfbff;
}

tr.resource-row:nth-of-type(even) input {
  background-color: #ecfbff;

}

th:nth-child(2) {
  width: 30%;
}

th:nth-child(7) {
  width: 20%;
}

/* Edit and Delete Material icons */
td.options i:nth-child(1) {
  margin-right: .25em;
}

td.options i:nth-child(2) {
  margin-left: .25em;
 
}



/* User Submit Option */
.resource-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14%;
  margin: 2em auto;
}

.resource-form label,
.resource-form input,
.resource-form select,
.resource-form textarea,
.resource-form button {
  font-family: "Open Sans", sans-serif;
  color: #486169;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1em;
}

button[type="submit"] {
  width: 10em;
}

/* // Resource Submission Display  */
input[type="number"] {
  border: none;
  text-align: center;
  font-size: 1rem;
}

.editable {
  background-color: rgb(255, 255, 138);
}

/* Footer */
.site-footer {
  padding: 1em;
  text-align: center;
}
